---
layout: default
title: News
---

<div class="home">
<p><br></p>
  <h2>News</h2>
  <ul class="post-list">
    {% for post in paginator.posts %} <!-- limit:3 -->
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <!-- <p class="description">
        <img align="left" src="{{ post.thum }}" alt="" width="200" height="150" style="margin-right: 20px">
            {% if post.description %}

                {{ post.description | strip_html | strip_newlines | truncate: 500 }}
            {% else %}
                {{ post.content | strip_html | strip_newlines | truncate: 500 }}
            {% endif %}
        </p> -->
      </li>
    {% endfor %}
  </ul>
</div>
{% if paginator.total_pages > 1 %}<!-- Pagination links -->
  <div  style="display:block" class="pagination">
    {% if paginator.previous_page %} <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="prev">上一页</a> {% endif %}
    {% if paginator.next_page %} <a  align="right" href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">下一页</a>{% endif %}
  </div>{% endif %}
<p><br/> <br/></p>
